  <footer class="page-footer font-small">
    <div class="container p-3 pb-0">
      <div class="row justify-content-md-center border-bottom d-flex">
        <div class="col text-center p-3">
        <small class="text-muted">
            Site version: <code>{{site_version}}</code>
            <br>Generated on: <code>{{date}}</code>
          </small>
        </div>
      </div>
      <div class="footer-copyright row justify-content-md-center d-flex py-2 bg-white">
        <div class="col-md-6 col-lg-6 col-xl-6 p-3 text-center">
          <small class="text-muted">
            <p>
              ALL INFORMATION PRESENTED HERE IS STRICTLY VOLUNTARY, SHOULD NOT BE USED FOR IMPLEMENTING PRODUCTS, NO WARRANTY EXPRESSED OR IMPLIED. PROVIDED FOR CONVENIENCE ONLY, USE AT YOUR OWN RISK. 
            </p>
            <p>
              MIT License: Copyright © 2025 <a href="https://github.com/SteveLLamb/" target="_blank">Steve LLamb</a> and <a href="https://github.com/PrZ3r/" target="_blank">PrZ3</a>
              <br><span class="fst-italic">
              See <a href="https://github.com/PrZ3r/MSRBot.io/blob/main/LICENSE.md" target="_blank">LICENSE</a> for Data Disclaimer.</span>
            </p>
            <p>
              :: GO TO <i class="bi bi-github"></i> <a href="https://github.com/PrZ3r/MSRBot.io" target="_blank">https://github.com/PrZ3r/MSRBot.io</a> <i class="bi bi-github"></i> TO CONTRIBUTE ::
            </p>
          </small> 
        </div>
      </div>
    </div>
  </footer> 
</body>
</html>